__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
env/
venv/

logs/
!logs/
*.log

.mypy_cache/
.pytest_cache/
.ruff_cache/

.idea/
.vscode/
.DS_Store

proxy_config.json
core/proxy_config.json
core/current_config.json
core/settings.json

core/profiles/

core/direct_list.txt
core/proxy_list.txt