altgraph==0.17.5
certifi==2025.11.12
charset-normalizer==3.4.4
coverage==7.12.0
grpcio==1.76.0
grpcio-tools==1.76.0
idna==3.11
iniconfig==2.3.0
packaging==25.0
pluggy==1.6.0
protobuf==6.33.1
pycairo==1.29.0
Pygments==2.19.2
PyGObject==3.54.5
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pytest==9.0.1
pytest-cov==7.0.0
PyYAML==6.0.3
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.5.0
psutil==6.1.0
